<div class="px-4">
    <!-- Add Button -->
      <div class="flex justify-end mb-4">
        <button (click)="openModal('add')" class="btn-teal">Add New Coupon</button>
      </div>
  
  <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3"   
  >
    <div
      class=" relative flex flex-col justify-end overflow-hidden rounded-b-xl pt-6"
      *ngFor="let category of categoriesList"
      >
      <div
        class="h-25 group relative flex cursor-pointer justify-between rounded-xl bg-gray-100 before:absolute before:inset-y-0 before:right-0 before:w-1/2 before:rounded-r-xl before:bg-gradient-to-r before:from-transparent before:to-gray-300 before:opacity-0 before:transition before:duration-500 hover:before:opacity-100"
      >
        <img
          class="absolute  bottom-0 right-6 w-[6rem] transition duration-300 group-hover:scale-[1.4]"
          src={{category.thumbnail}}
          alt={{category.name}}
        />

        <div class="relative space-y-1 p-4">
          <h4 class="text-lg text-teal-900 font-semibold">{{category.name}}</h4>
          <div class="relative  text-teal-700 text-sm ">
            <div class="flex  gap-6 mt-4">
                <a  href="#">
                  <i class="fa-solid fa-eye text-base hover:text-gray-800"></i>              </a>
                <a  href="#">
                    <i class="fa-solid fa-pencil text-base hover:text-gray-800"></i>
                </a>
                  <i class="fa-regular fa-trash-can text-base hover:text-red-800" (click)="deleteCategory(category._id)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  <!-- Reusable Modal Component -->
 
</div>
<!-- <app-modal
  [activeModal]="activeModal"
    [couponId]="selectedId"
    (close)="closeModal()"
    (refresh)="fetchCoupons()"
/> -->
