<div
  id="parent"
  class="w-full flex justify-center items-center"
>
  <div class="w-10/12 lg:w-8/12 flex bg-gray-100/90 rounded-2xl p-1  ">
    <form
      [formGroup]="userData"
      class="flex flex-col p-3 sm:w-full flex-1/2"
    >
      <div>
        <h1 class="aboreto-regular text-3xl font-bold mt-5 mb-3">VELVORIA</h1>
      </div>
      <p class="italic text-sm mb-4 ml-2">Create your account and bring timeless comfort into your home with Velvoria.
      </p>
      <div class="ml-3">
        <div class="mt-4 w-full md:w-11/12">
          <input
            type="text"
            class="input validator w-full rounded-3xl p-5"
            required
            placeholder="Username"
            formControlName="name"
            [ngClass]="{
              'border-green-500 focus:outline-green-500': validName.valid && validName.touched,
              'border-red-500 focus:outline-red-500': !validName.valid && validName.touched
            }"
          />
          @if(!validName.valid && validName.touched){
          <div class="text-red-600 ml-3 text-sm">
            At least 4 characters
          </div>
          }
        </div>
        <div class="mt-4 w-full md:w-11/12">
          <input
            class="input validator w-full rounded-3xl p-5"
            type="email"
            required
            placeholder="Email"
            formControlName="email"
            [ngClass]="{
              'border-green-500 focus:outline-green-500': validEmail.valid && validEmail.touched,
              'border-red-500 focus:outline-red-500': !validEmail.valid && validEmail.touched
            }"
          />
          @if(!validEmail.valid && validEmail.touched){
          <div class="text-red-600 ml-3 text-sm">Ex: {{this.userData.controls.name.valid?
            this.userData.controls.name.value:"xxx"}}&commat;gmail.com</div>
          }
        </div>
        <div class="mt-4 w-full md:w-11/12">
          <div class="relative">
            <input
              class="py-2.5 sm:py-3 ps-4 pe-10 block sm:text-sm input validator w-full rounded-3xl p-5"
              type="password"
              placeholder="Password"
              formControlName="password"
              #passwordInput
              [ngClass]="{
                'border-green-500 focus:outline-green-500': validPassword.valid && validPassword.touched,
                'border-red-500 focus:outline-red-500': !validPassword.valid && validPassword.touched
              }"
            />
            <button
              type="button"
              class="absolute inset-y-0 end-1 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-hidden focus:text-teal-600  dark:focus:text-teal-500"
            >
              <i
                class="fa fa-eye shrink-0 size-3.5"
                [appTogglePassword]="passwordInput"
              ></i>
            </button>
          </div>
          @if(!validPassword.valid && validPassword.touched){
          <div class="text-red-600 ml-3 text-sm">Password must be at least 8 characters and include:<br>
            • one uppercase letter and one lowercase letter<br>
            • one number<br>
            • one special character (&commat;, _, $, or -)<br></div>
          }
        </div>
        <div class="mt-4  w-full md:w-11/12">
          <div class="relative">
            <input
              class="py-2.5 sm:py-3 ps-4 pe-10 block sm:text-sm input validator w-full rounded-3xl p-5"
              type="password"
              #passwordConfirmInput
              placeholder="Confirm password"
              formControlName="confirmPassword"
              [ngClass]="{
                'border-green-500 focus:outline-green-500': passwordsMatch && validConfirmPassword.touched,
                'border-red-500 focus:outline-red-500': !passwordsMatch && validConfirmPassword.touched
              }"
            />
            <button
              type="button"
              class="absolute inset-y-0 end-1 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-hidden focus:text-teal-600  dark:focus:text-teal-500"
            >
              <i
                class="fa fa-eye shrink-0 size-3.5"
                [appTogglePassword]="passwordConfirmInput"
              ></i>
            </button>
          </div>
          @if(validConfirmPassword.touched &&!passwordsMatch && !validPassword.valid){
          <div class="text-red-600 ml-3 text-sm">Passwords must match</div>
          }
        </div>
        <div class="mt-5 ml-2 mb-2">
          <button
            class="main-btn p-2 rounded-xl w-6/12 mb-2 block"
            (click)="addUser()"
          >Sign up</button>
          <a
            [routerLink]="router.url.includes('user')?'/login/user':'/login/admin'"
            class="text-teal-700 underline cursor-pointer pl-1"
          >
            Already user? Sign in.</a>
        </div>
        <!-- component -->
        <div
          *ngIf="signUp"
          class="fixed left-0 top-0 flex h-full w-full items-center justify-center bg-slate-400/75 py-10 z-20"
        >
          <div class="max-h-full w-11/12 text-center md:w-full max-w-xl overflow-y-auto rounded-2xl bg-white">
            <div class="m-8 my-20 max-w-[400px] mx-auto">
              <div class="mb-8">
                <h1 class="mb-4 text-3xl font-extrabold">Hello!</h1>
                <p class="text-gray-600">You will receive an email with a login link.<br> Please check your inbox.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <img
      src="https://img.freepik.com/premium-vector/illustration-furniture-interior-design-concept-with-plants-flowers-wall-paintings_299750-9.jpg?w=826"
      alt=""
      height="400"
      width="400"
      class="flex-1/2 rounded-lg hidden md:inline"
    >
  </div>
</div>