<section class="flex flex-col">
  <!-- * product details section -->
  <section class="flex flex-col lg:flex-row justify-between gap-8 my-6">
    <!-- Left Side: Images -->
    <div class="w-full lg:w-[50%] p-4 rounded">
      <!-- main image -->
      <img
        [src]="mainImage"
        [alt]="detailsProduct.title"
        class="w-full h-125 object-cover rounded"
      />
      <!-- other images -->
      <div class="flex justify-center items-center gap-4 mt-4 flex-wrap">
        <img
          [src]="detailsProduct.thumbnail"
          [alt]="detailsProduct.title"
          (click)="mainImage = detailsProduct.thumbnail"
          class="h-30 w-30 object-cover rounded cursor-pointer hover:scale-105 transition-transform duration-200 border-2"
          [class.border-teal-600]="mainImage === detailsProduct.thumbnail"
          [class.border-transparent]="mainImage !== detailsProduct.thumbnail"
        />
        <img
          *ngFor="let img of detailsProduct.images"
          [src]="img"
          [alt]="detailsProduct.title"
          (click)="mainImage = img"
          class="h-30 w-30 object-cover rounded cursor-pointer hover:scale-105 transition-transform duration-200 border-2"
          [class.border-teal-600]="mainImage === img"
          [class.border-transparent]="mainImage !== img"
        />
      </div>
    </div>

    <!-- Right Side: Details -->
    <div class="w-full lg:w-[50%] p-6 rounded">
      <h2 class="text-3xl font-semibold text-teal-700 hover:text-teal-600 my-4">
        {{ detailsProduct.title }}
      </h2>
      <p class="text-2xl font-medium text-gold-color my-4">
        {{ detailsProduct.price }} EGP
      </p>
      <hr class="w-full my-4" />

      <!-- Category & Rating -->
      <div
        class="flex justify-between items-center w-full mb-6 flex-wrap gap-4"
      >
        <p class="font-medium text-lg text-gray-900">
          Category:
          <span class="text-teal-800 font-normal">{{ categoryName }}</span>
        </p>

        <!-- Overall Average Rating -->
        <div
          *ngIf="detailsProduct.avgRating && detailsProduct.numberOfReviews"
          class="mb-4"
        >
          <div class="flex items-center gap-2 text-yellow-500 text-lg">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
              <i
                class="fa-star"
                [ngClass]="star <= detailsProduct.avgRating ? 'fas' : 'far'"
              ></i>
            </ng-container>
            <span class="text-gray-700 text-base">
              {{ detailsProduct.avgRating }}/5 ({{
                detailsProduct.numberOfReviews
              }}
              reviews)
            </span>
          </div>
        </div>
      </div>

      <!-- Description -->
      <p class="text-lg font-normal text-gray-700">
        {{ detailsProduct.description }}
      </p>

      <!-- Color -->
      <div class="flex items-center gap-2 mt-4">
        <p class="text-gray-900">Color:</p>
        <div
          class="w-6 h-6 rounded-full border border-gray-400"
          [style.backgroundColor]="detailsProduct.color"
        ></div>
        <span class="text-lg text-gray-600">{{ detailsProduct.color }}</span>
      </div>

      <p class="text-gray-900 text-lg my-1">
        Material: {{ detailsProduct.material }}
      </p>
      <p class="text-gray-900 text-lg mb-4">
        In Stock: {{ detailsProduct.stock }}
      </p>

      <!-- Add To wishlist 💖 💖 -->
      <div class="flex items-center gap-2 my-4">
        <div
          (click)="addToWishList()"
          class="text-gray-900 border hover:border-none bg-gray-50 w-12 h-12 flex items-center justify-center hover:text-white hover:bg-teal-700 rounded cursor-pointer"
          [ngClass]="{
            'text-white bg-teal-700 border-none': isInWishlist,
            'text-gray-500 bg-gray-50 hover:text-white hover:bg-teal-700':
              !isInWishlist
          }"
        >
          <i class="fas fa-heart text-xl"></i>
        </div>
        <p class="text-gray-900 text-lg">Add To Wishlist</p>
      </div>

      <!-- Add To Cart -->
      <button
        class="text-xl h-15 btn flex items-center gap-2 w-full black-btn transition duration-200 my-4"
        (click)="addToCart()"
      >
        <i class="fas fa-shopping-cart"></i>
        Add To Cart
      </button>
    </div>
  </section>

  <!-- * reviews section -->
  <app-reviews class="mt-12"></app-reviews>

  <app-related-prod
    *ngIf="categoryName"
    [categoryName]="categoryName"
    [productID]="productID"
  ></app-related-prod>
</section>
