<section class="container px-4 sm:px-6 md:px-8 lg:px-10 mx-auto">
  <div class="py-16 flex flex-col items-center justify-center gap-4">
    <!-- Heading -->
    <h1 class="primary-text-color text-xl lg:text-4xl font-medium text-center">
      Our Products
    </h1>

    @if(isLoading) {<app-loading-spinner></app-loading-spinner>}

    <!-- Tabs Navigation -->
    <div class="w-full flex flex-col items-center justify-center">
      <!-- Mobile Dropdown -->
      <div class="relative w-full md:hidden mb-4">
        <select
          class="appearance-none bg-gray-100 text-gray-600 text-sm font-bold w-full py-3 pl-4 pr-10 rounded-md focus:outline-none"
          [(ngModel)]="activeTab"
          (change)="onTabChange(activeTab)"
        >
          <option *ngFor="let tab of tabs" [value]="tab.key">
            {{ tab.label }}
          </option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-3 flex items-center"
        >
          <svg
            class="w-4 h-4 text-gray-600"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </div>
      </div>

      <!-- Desktop Tabs -->
      <div class="hidden md:flex flex-wrap gap-16 justify-center py-4 md:py-8">
        <button
          *ngFor="let tab of tabs"
          type="button"
          class="bg-white font-semibold p-1 cursor-pointer"
          [ngClass]="
            activeTab === tab.key
              ? 'border-b-2 border-black text-black'
              : 'text-gray-500'
          "
          (click)="onTabChange(tab.key)"
        >
          {{ tab.label }}
        </button>
      </div>
    </div>

    <!-- Products Grid -->
    <div
      class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4 md:gap-6 items-stretch"
    >
      <!-- Left Section - 4 products (2x2 grid) -->
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 sm:col-span-4 md:col-span-2 gap-4 md:gap-6"
      >
        <app-home-product-card
          *ngFor="let product of products.slice(0, 4)"
          [product]="product"
          [isLargeCard]="false"
        ></app-home-product-card>
      </div>

      <!-- Middle Section - 1 product -->
      <div class="grid grid-cols-1 col-span-1 sm:col-span-4 md:col-span-2">
        <app-home-product-card
          *ngFor="let product of products.slice(4, 5)"
          [product]="product"
          [isLargeCard]="true"
        ></app-home-product-card>
      </div>

      <!-- Right Section - 4 products (2x2 grid) -->
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 sm:col-span-4 lg:col-span-1 gap-4 md:gap-6"
      >
        <app-home-product-card
          *ngFor="let product of products.slice(5, 7)"
          [product]="product"
          [isLargeCard]="false"
        ></app-home-product-card>
      </div>
    </div>

    <!-- View All Button -->
    <div class="flex items-center justify-center pt-4">
      <button
        class="border-teal-700 text-teal-700 border-2 hover:text-white hover:bg-teal-700 transition-colors rounded-md px-12 py-2 font-semibold"
        (click)="viewAllBtn()"
      >
        View All
      </button>
    </div>
  </div>
</section>
