
<div class="relative h-[400px] mb-12">
  <img
    class="scale-x-[-1] object-cover object-center h-full w-full overflow-hidden brightness-60"
    src="images/wish1.jpg"
  />

  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50">
    <app-breadcrumb style="color: white"></app-breadcrumb>
  </div>
</div>
<div class="bg-white container mx-auto">
    <!-- <i class="fa-light fa-trash-can "></i> -->
           <!-- Background Image Section -->
     <p class="mx-auto text-xl  font-light">Current Products In wishlist : {{WishList.length}}</p>
      

    <div class="mx-auto max-w-2xl px-4  sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
  
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
        
       @for (item of WishList; track $index) {
        <div href="#" class="relative group space-y-4  flex flex-col justify-center">
            <div class="w-full h-50" >
               <img [src]=item.thumbnail
            alt="Favourite item" class="aspect-square h-full w-full rounded-lg bg-gray-200   object-cover    group-hover:opacity-75 xl:aspect-7/8">
             </div>
            <p  (click)="deleteFromWishlist(item._id)" class="absolute start-4 top-4 icons"><i  class="fas fa-xmark fa-2xl "></i></p>
            <h3 class="text-xl primary-text-color">{{ item.title }}</h3>
            <p class=" text-lg font-medium primary-text-color">${{ item.price }}</p>
            <button (click)="addToCart(item._id)" class=" text-2md btn flex items-center gap-2 w-full bg-gray-950 text-gray-50 h-12 border border-transparent hover:border-teal-700 hover:bg-transparent hover:text-teal-700 transition duration-200">
              <i class="fas fa-shopping-cart "></i>
              Add To Cart

            </button>
          </div>
       }
      
        <!-- More products... -->
      </div>
    </div>
  </div>