<div class="flex justify-center items-center gap-2 mt-4">
  <button
    [ngClass]="{
      'btn-teal-disabled': currentPage === 1,
      'btn-teal': currentPage !== 1
    }"
    (click)="changePage(currentPage - 1)"
  >
    Prev
  </button>

  <ng-container *ngFor="let page of totalPagesArray">
    <button
      class="py-2 px-4 mt-2 rounded border"
      [ngClass]="{
        'bg-teal-600 text-white': currentPage === page,
        'bg-white text-teal-600 border-teal-600': currentPage !== page
      }"
      (click)="changePage(page)"
    >
      {{ page }}
    </button>
  </ng-container>

  <button
    [ngClass]="{
      'btn-teal-disabled': currentPage === totalPages,
      'btn-teal': currentPage !== totalPages
    }"
    (click)="changePage(currentPage + 1)"
  >
    Next
  </button>
</div>
