<!-- Loading Placeholder -->
@if (isLoading) {<app-loading-spinner></app-loading-spinner>}@else {

<!-- Add New Admin Button -->
<div class="flex justify-end mb-4">
  <button (click)="openModal('add')" class="btn-teal">+ Add New Admin</button>
</div>
<!-- Admins Table -->
<div *ngIf="!isLoading" class="w-full overflow-auto">
  <div class="rounded-lg border border-gray-200 shadow-md">
    <table class="w-full table-auto">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-4 font-medium text-gray-900 text-left">Name</th>
          <th class="px-6 py-4 font-medium text-gray-900 text-left">Email</th>
          <th class="px-6 py-4 font-medium text-gray-900 text-left">
            Is Email Activated
          </th>
          <th class="px-6 py-4 font-medium text-gray-900 text-right">
            Actions
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 border-t border-gray-100">
        <tr *ngFor="let admin of admins" class="hover:bg-gray-50">
          <td class="px-6 py-4 text-gray-900 capitalize">{{ admin.name }}</td>
          <td class="px-6 py-4 text-gray-600">{{ admin.email }}</td>
          <td class="px-6 py-4 text-gray-600 capitalize">
            {{ admin.isEmailActive }}
          </td>

          <td class="px-6 py-4 text-right">
            <div class="flex justify-end gap-5">
              <button (click)="openModal('view', admin)">
                <i class="fa-solid fa-eye text-lg text-gray-900"></i>
              </button>
              <button (click)="confirmDelete(admin)">
                <i class="fa-regular fa-trash-can text-lg text-red-800"></i>
              </button>
            </div>
          </td>
        </tr>
        <!-- Empty State -->
        <tr *ngIf="admins.length === 0">
          <td colspan="3" class="py-4 text-center text-gray-500">
            No admins found
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Admin Modal Component -->
<app-admins-modal
  *ngIf="showModal"
  [admin]="selectedAdmin"
  [type]="modalType"
  (close)="closeModal()"
  (saved)="onAdminUpdated()"
>
</app-admins-modal>

<!-- Delete Confirmation Modal -->
<div
  *ngIf="showDeleteConfirm"
  class="fixed inset-0 bg-[rgba(0,0,0,0.6)] flex items-center justify-center p-4 z-50"
>
  <div class="bg-white rounded-xl shadow-lg w-full max-w-md p-6 text-center">
    <h3 class="text-xl font-semibold mb-4 text-red-600">Confirm Delete</h3>
    <p class="text-gray-700 mb-6">
      Are you sure you want to delete admin
      <strong>{{ adminToDelete?.name }}</strong
      >?
    </p>
    <div class="flex justify-center gap-4">
      <button (click)="deleteAdmin()" class="btn-red">Yes, Delete</button>
      <button (click)="cancelDelete()" class="btn-teal">Cancel</button>
    </div>
  </div>
</div>

<app-dashboard-pagination
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="onPageChange($event)"
></app-dashboard-pagination>
}
