<nav class="navbar bg-base-100 shadow-sm">

  <div class="container mx-auto flex justify-between items-center w-full">
    <div>
      <!-- LOGO -->
      <a
        routerLink="/home"
        class="aboreto-regular text-2xl font-bold"
      >VELVORIA</a>
    </div>

    <!-- Center: Navigation -->

    <ul class="nav-menu-custom md:flex items-center gap-x-2 lg:gap-x-8">
      <li>

        <a
          routerLink="/home"
          class="hover:text-teal-700 font-medium"
        >Home</a>
      </li>

      <!-- Dropdown Furniture -->
      <div class="relative group inline-block">
        <a class="cursor-pointer text-base font-medium px-4 py-2 hover:text-teal-700">
          Furniture <i class="fas fa-chevron-down ml-1 text-xs"></i>
        </a>
        <!-- Dropdown content -->

        <div class="absolute left-0 top-full z-50 hidden group-hover:block bg-white w-64 p-4 shadow-md rounded-md">
          <div class="grid grid-cols-2 gap-3 text-sm text-gray-700">

            <a
              routerLink="/furnitures"
              class="hover:text-teal-700"
            >All Furnitures</a>
            <a
              routerLink="/furnitures/sofas"
              class="hover:hover:text-teal-700"
            >Sofas</a>


            <a
              routerLink="/furnitures/storage-units"
              class="hover:hover:text-teal-700"
            >Storage Units</a>
            <a
              routerLink="/furnitures/beds"
              class="hover:hover:text-teal-700"
            >Beds</a>

            <a
              routerLink="/furnitures/dining-tables"
              class="hover:hover:text-teal-700"
            >Dining Tables</a>
            <a
              routerLink="/furnitures/office-Desks"
              class="hover:text-teal-700"
            >Office Desks</a>
            <a
              routerLink="/furnitures/chairs"
              class="hover:text-teal-700"
            >Chairs</a>

            <a
              routerLink="/furnitures/outdoor-sets"
              class="hover:hover:text-teal-700"
            >Outdoor Sets</a>
            <a
              routerLink="/furnitures/decors"
              class="hover:text-teal-700"
            >Decors</a>
            <a
              routerLink="/furnitures/lighting"
              class="hover:hover:text-teal-700"
            >Lighting</a>
          </div>
        </div>
      </div>


      <li>
        <a
          routerLink="/about"
          class="hover:text-teal-700 font-medium"
        >About</a>
      </li>
      <li>
        <a
          routerLink="/contact-us"
          class="hover:text-teal-700 font-medium"
        >Contact</a>
      </li>
      <!-- Search -->
      <li class="hidden md:block">
        <form class="w-full md:w-40 lg:w-64">
          <div class="relative">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
              <i class="fa-solid fa-magnifying-glass text-gray-400"></i>
            </div>
            <input
              id="search-desktop"
              type="search"
              placeholder="Search..."
              class="w-full rounded-lg border border-gray-300 bg-gray-50 p-2 pl-10 text-sm text-gray-900"
            />
          </div>
        </form>
      </li>
      <!-- <li>
        <input type="text" placeholder="Search" class="search input lg:w-70 md:w-24" />
      </li> -->
    </ul>

    <!-- Login, Cart, Fav -->
    <div class="flex items-center space-x-4 md:me-2">
      <!-- Login Icon -->
      <!-- <a
        routerLink="/login"
        class="hover:text-teal-700 flex items-center gap-1"
      >
        <i class="fas fa-user"></i>
        <span class="hidden md:inline">Login</span>
      </a> -->

      <!-- profile icon start -->

      <div class="relative group inline-block md:me-6">
        <!-- Trigger -->
        <a class="hover:text-teal-700 flex items-center gap-1 cursor-pointer">
          <i class="fas fa-user"></i>
        </a>
        <!-- Dropdown content -->
        <div
          class="absolute -left-28 top-fu11 z-50 hidden group-hover:block bg-white w-56 py-3 px-4 shadow-md rounded-md divide-y divide-gray-200"
        >
          <div class="flex items-center">
            <img
              class="w-10 h-10 rounded-full"
              src="https://picsum.photos/33"
              alt="Profile"
            />
            <div class="px-4 py-3 text-gray-900 dark:text-white mb-2">
              <div class="font-medium text-lg text-black truncate">
                Bonnie Green
              </div>
              <div class="text-gray-500 font-semibold">nameflowbite.com</div>
            </div>
          </div>
          <div class="grid grid-cols-1 gap-3 text-sm font-semibold text-gray-600 px-4 py-4">
            <a
              [routerLink]="['/profile']"
              [queryParams]="{ tab: 'info' }"
              class="hover:text-teal-700"
            >
              Manage Your Account
            </a>

            <a
              [routerLink]="['/profile']"
              [queryParams]="{ tab: 'orders' }"
              class="hover:text-teal-700"
            >
              Your Orders
            </a>
          </div>

          <div class="my-2">
            <a
              routerLink="/login"
              class="block px-4 py-2 text-red-700 hover:bg-red-100 dark:hover:bg-red-500 dark:text-red-200 dark:hover:text-white font-semibold"
              (click)="signOut()"
            >
              <i
                class="fa fa-sign-out me-1 text-sm"
                aria-hidden="true"
              ></i>
              Sign out
            </a>
          </div>
        </div>
      </div>

      <!-- profile icon end -->

      <!-- Favorite Icon -->
      <a
        routerLink="/favorites"
        class="hover:text-teal-700 md:me-4"
      >

        <i class="fas fa-heart"></i>
      </a>

      <!-- Cart Icon with Badge -->
      <div class="dropdown dropdown-end">
        <div
          tabindex="0"
          role="button"
          class="btn btn-ghost btn-circle"
        >
          <div class="indicator">
            <i class="fas fa-shopping-cart text-lg"></i>
            <span class="badge badge-sm indicator-item bg-teal-700 text-gray-100">8</span>
          </div>
        </div>
        <div class="card card-compact dropdown-content bg-base-100 z-10 mt-3 w-52 shadow">
          <div class="card-body">
            <span class="text-lg font-bold">8 Items</span>
            <span class="text-info">Subtotal: $999</span>
            <div class="card-actions">
              <button class="btn btn-primary btn-block">View cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- For Small Screen Only -->

    <div class="md:hidden">
      <button
        class="text-2xl"
        (click)="menuOpen = !menuOpen"
        aria-label="Toggle menu"
      >
        <i
          class="fas"
          [ngClass]="menuOpen ? 'fa-times' : 'fa-bars'"
        ></i>
      </button>
    </div>
    <ul
      *ngIf="menuOpen"
      class="md:hidden absolute top-10 left-0 mt-4 w-full bg-base-100 shadow-md space-y-2 z-50 p-4"
    >
      <li>
        <a
          routerLink="/home"
          class="block px-4 py-2 hover:text-teal-700"
        >Home</a>
      </li>
      <li>
        <a
          routerLink="/categories"
          class="block px-4 py-2 hover:text-teal-700"
        >Furniture</a>
      </li>
      <li>
        <a
          routerLink="/about"
          class="block px-4 py-2 hover:text-teal-700"
        >About</a>
      </li>
      <li>

        <a
          routerLink="/contact-us"
          class="block px-4 py-2 hover:text-teal-700"
        >Contact</a>
      </li>

      <li>
        <div class="relative">
          <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">

            <i class="fa-solid fa-magnifying-glass text-gray-400"></i>
          </div>
          <input
            id="search-mobile"
            type="search"
            placeholder="Search..."
            class="w-full rounded-lg border border-gray-300 bg-gray-50 p-2 pl-10 text-sm text-gray-900"
          />
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- icon for user profile  -->
<!-- <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
          />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div> -->