<nav
  class="navbar bg-base-100 shadow-sm sticky left-0 end-0 top-0 w-full z-[1000] sm:px-2 md:px-4 lg:px-6"
>
  <div class="container mx-auto flex justify-between items-center w-full">
    <div>
      <!-- LOGO -->
      <a routerLink="/home" class="aboreto-regular text-2xl font-bold"
        >VELVORIA</a
      >
    </div>

    <!-- Center: Navigation -->

    <ul
      class="nav-menu-custom md:flex items-center gap-x-2 md:gap-x-4 lg:gap-x-8"
    >
      <li>
        <a routerLink="/home" class="hover:text-teal-700 font-medium">Home</a>
      </li>

      <!-- Dropdown Furniture -->
      <div class="relative group inline-block">
        <a
          class="cursor-pointer text-base font-medium py-2 hover:text-teal-700"
        >
          Furniture <i class="fas fa-chevron-down ml-1 text-xs"></i>
        </a>
        <!-- Dropdown content -->

        <div
          class="absolute left-0 top-full z-[2000] hidden group-hover:block bg-white w-64 p-4 shadow-md rounded-md"
        >
          <div class="grid grid-cols-2 gap-3 text-sm text-gray-700">
            <a routerLink="/furniture" class="hover:text-teal-700"
              >All Furniture</a
            >
            <a
              routerLink="/furniture/category/sofas"
              class="hover:hover:text-teal-700"
              >Sofas</a
            >

            <a
              routerLink="/furniture/category/storage units"
              class="hover:hover:text-teal-700"
              >Storage Units</a
            >
            <a
              routerLink="/furniture/category/beds"
              class="hover:hover:text-teal-700"
              >Beds</a
            >

            <a
              routerLink="/furniture/category/dining tables"
              class="hover:hover:text-teal-700"
              >Dining Tables</a
            >
            <a
              routerLink="/furniture/category/office desks"
              class="hover:text-teal-700"
              >Office Desks</a
            >
            <a
              routerLink="/furniture/category/chairs"
              class="hover:text-teal-700"
              >Chairs</a
            >

            <a
              routerLink="/furniture/category/outdoor sets"
              class="hover:hover:text-teal-700"
              >Outdoor Sets</a
            >
            <a
              routerLink="/furniture/category/decors"
              class="hover:text-teal-700"
              >Decors</a
            >
            <a
              routerLink="/furniture/category/lighting"
              class="hover:hover:text-teal-700"
              >Lighting</a
            >
          </div>
        </div>
      </div>

      <li>
        <a routerLink="/about" class="hover:text-teal-700 font-medium">About</a>
      </li>
      <li>
        <a routerLink="/contact-us" class="hover:text-teal-700 font-medium"
          >Contact</a
        >
      </li>
      <!-- Search -->
      <li class="hidden md:block">
        <form
          class="w-full md:w-40 lg:w-64"
          (ngSubmit)="search()"
          #searchForm="ngForm"
        >
          <div class="relative">
            <button
              type="submit"
              class="absolute inset-y-0 right-0 flex items-center pe-3 cursor-pointer hover:text-teal-700 transition-colors"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input
              id="search-desktop"
              type="text"
              name="query"
              [(ngModel)]="searchQuery"
              placeholder="Search..."
              class="w-full rounded-lg border border-gray-300 bg-gray-50 p-2 text-sm text-gray-900"
            />
          </div>
        </form>
      </li>
      <!-- <li>
        <input type="text" placeholder="Search" class="search input lg:w-70 md:w-24" />
      </li> -->
    </ul>

    <!-- Login, Cart, Fav -->
    <div class="flex items-center justify-between gap-x-1 lg:gap-x-3">
      <!-- Login Icon -->
      @if(isLoggedIn && user.role === "user"){
      <div class="relative group inline-block">
        <a
          class="hover:text-teal-700 flex items-center gap-1 cursor-pointer"
          (click)="toggleProfileMenu()"
        >
          <i class="fas fa-user"></i>
        </a>
        <!-- profile icon start -->
        <div
          class="absolute -left-36 md:-left-46 lg:-left-48 top-[115%] lg:top-full z-[1500] group-hover:block bg-white py-3 px-4 shadow-md rounded-md divide-y divide-gray-200 min-w-fit"
          [ngClass]="
            isProfileMenuShown ? 'block lg:hidden' : 'hidden lg:hidden'
          "
        >
          <div class="flex flex-col text-center items-center">
            <img
              class="w-10 h-10 rounded-full"
              [src]="user?.image"
              alt="Profile"
            />
            <div class="px-4 py-3 text-gray-900 dark:text-white mb-2">
              <div class="font-medium text-lg text-black">
                {{ user?.name }}
              </div>
              <div class="text-gray-500 font-semibold">
                {{ user?.email }}
              </div>
            </div>
          </div>
          <div
            class="grid grid-cols-1 gap-3 text-sm font-semibold text-gray-600 px-4 py-4"
          >
            <a
              [routerLink]="['/profile']"
              [queryParams]="{ tab: 'info' }"
              class="hover:text-teal-700"
            >
              Manage Your Account
            </a>

            <a
              *ngIf="user?.role === 'user'"
              [routerLink]="['/profile']"
              [queryParams]="{ tab: 'orders' }"
              class="hover:text-teal-700"
            >
              Your Orders
            </a>
          </div>

          <div class="my-2">
            <a
              class="cursor-pointer block px-4 py-2 text-red-700 hover:bg-red-100 dark:hover:bg-red-700 dark:text-red-700 dark:hover:text-white font-semibold"
              (click)="signOut()"
            >
              <i class="fa fa-sign-out me-1 text-sm" aria-hidden="true"></i>
              Sign out
            </a>
          </div>
        </div>
      </div>
      }@else {
      <a
        routerLink="/login"
        class="hover:text-teal-700 flex items-center gap-1 cursor-pointer"
      >
        <i class="fas fa-user"></i>
        <span class="hidden md:inline">Login</span>
      </a>
      }

      <!-- profile icon end -->

      <!-- wishlist Icon -->
      <a routerLink="/wishlist" class="hover:text-teal-700 ms-3">
        <i class="fas fa-heart"></i>
      </a>

      <!-- Cart Icon with Badge -->
      <div
        role="button"
        class="btn btn-ghost btn-circle"
        (click)="router.navigate(['/cart'])"
      >
        <div class="indicator">
          <i class="fas fa-shopping-cart text-lg"></i>
          <span
            class="badge badge-sm indicator-item bg-teal-700 text-gray-100"
            >{{ totalItems }}</span
          >
        </div>
      </div>
    </div>

    <!-- For Small Screen Only -->

    <div class="md:hidden">
      <button
        class="text-lg lg:text-2xl"
        (click)="menuOpen = !menuOpen"
        aria-label="Toggle menu"
      >
        <i class="fas" [ngClass]="menuOpen ? 'fa-times' : 'fa-bars'"></i>
      </button>
    </div>
    <ul
      *ngIf="menuOpen"
      class="md:hidden absolute top-10 left-0 mt-4 w-full bg-base-100 shadow-md space-y-2 z-50 p-4"
    >
      <li>
        <a
          routerLink="/home"
          class="block px-4 py-2 hover:text-teal-700"
          routerLinkActive="text-teal-700"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <div
          (click)="furnitureMenuOpen = !furnitureMenuOpen"
          class="flex items-center gap-x-2 md:justify-between px-4 py-2 cursor-pointer hover:text-teal-700"
        >
          <span>Furniture</span>
          <i
            class="fas"
            [ngClass]="furnitureMenuOpen ? 'fa-chevron-up' : 'fa-chevron-down'"
          ></i>
        </div>

        <ul
          *ngIf="furnitureMenuOpen"
          class="pl-6 grid grid-cols-2 gap-x-4 gap-y-2 text-sm text-gray-700"
        >
          <li>
            <a
              routerLink="/furniture"
              class="block hover:text-teal-700"
              routerLinkActive="text-teal-700"
              [routerLinkActiveOptions]="{ exact: true }"
              >All Furniture</a
            >
          </li>
          <li>
            <a
              routerLink="/furniture/category/sofas"
              class="block hover:text-teal-700"
              routerLinkActive="text-teal-700"
              [routerLinkActiveOptions]="{ exact: true }"
              >Sofas</a
            >
          </li>
          <li>
            <a
              routerLink="/furniture/category/storage units"
              class="block hover:text-teal-700"
              routerLinkActive="text-teal-700"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Storage Units</a
            >
          </li>
          <li>
            <a
              routerLink="/furniture/category/beds"
              class="block hover:text-teal-700"
              routerLinkActive="text-teal-700"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Beds</a
            >
          </li>
          <li>
            <a
              routerLink="/furniture/category/dining tables"
              class="block hover:text-teal-700"
              routerLinkActive="text-teal-700"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Dining Tables</a
            >
          </li>
          <li>
            <a
              routerLink="/furniture/category/office desks"
              class="block hover:text-teal-700"
              routerLinkActive="text-teal-700"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Office Desks</a
            >
          </li>
          <li>
            <a
              routerLink="/furniture/category/chairs"
              class="block hover:text-teal-700"
              routerLinkActive="text-teal-700"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Chairs</a
            >
          </li>
          <li>
            <a
              routerLink="/furniture/category/outdoor sets"
              class="block hover:text-teal-700"
              routerLinkActive="text-teal-700"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Outdoor Sets</a
            >
          </li>
          <li>
            <a
              routerLink="/furniture/category/decors"
              class="block hover:text-teal-700"
              routerLinkActive="text-teal-700"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Decors</a
            >
          </li>
          <li>
            <a
              routerLink="/furniture/category/lighting"
              class="block hover:text-teal-700"
              routerLinkActive="text-teal-700"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Lighting</a
            >
          </li>
        </ul>
      </li>

      <li>
        <a
          routerLink="/about"
          class="block px-4 py-2 hover:text-teal-700"
          routerLinkActive="text-teal-700"
          [routerLinkActiveOptions]="{ exact: true }"
          >About</a
        >
      </li>
      <li>
        <a
          routerLink="/contact-us"
          class="block px-4 py-2 hover:text-teal-700"
          routerLinkActive="text-teal-700"
          [routerLinkActiveOptions]="{ exact: true }"
          >Contact</a
        >
      </li>

      <!-- Search -->
      <li>
        <form
          class="w-full md:w-40 lg:w-64"
          (ngSubmit)="search()"
          #searchForm="ngForm"
        >
          <div class="relative">
            <button
              type="submit"
              class="absolute inset-y-0 right-0 flex items-center pe-3 cursor-pointer hover:text-teal-700 transition-colors"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input
              id="search-desktop"
              type="text"
              name="query"
              [(ngModel)]="searchQuery"
              placeholder="Search..."
              class="w-full rounded-lg border border-gray-300 bg-gray-50 p-2 text-sm text-gray-900"
            />
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>
