<footer class="text-base-content px-6 py-10" style="background-color: #f5f5f5">
  <div
    class="max-w-screen-xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10"
  >
    <!-- Logo and Socials -->
    <aside>
      <a routerLink="/home" class="aboreto-regular text-2xl font-bold"
        >VELVORIA</a
      >
      <div class="flex gap-3 mt-4">
        <i class="fa-brands fa-instagram text-xl"></i>
        <i class="fa-brands fa-facebook text-xl"></i>
        <i class="fa-brands fa-pinterest text-xl"></i>
        <i class="fa-brands fa-youtube text-xl"></i>
      </div>
    </aside>

    <!-- Hot Categories -->
    <nav>
      <h6 class="footer-title text-lg mb-4">Hot Categories</h6>
      <a
        routerLink="/furniture/chairs"
        class="block link-hover hover:text-emerald-950"
        >Chairs</a
      >
      <a
        routerLink="/furniture/lighting"
        class="block link-hover hover:text-emerald-950"
        >Lighting</a
      >
      <a
        routerLink="/furniture/sofas"
        class="block link-hover hover:text-red-500"
        >Sofas</a
      >
      <a
        routerLink="/furniture/decor"
        class="block link-hover hover:text-red-500"
        >Decor</a
      >
    </nav>

    <!-- Links -->
    <nav>
      <h6 class="footer-title text-lg mb-4">Support</h6>
      <a routerLink="/about" class="block link-hover hover:text-emerald-950"
        >About Us</a
      >
      <a
        routerLink="/contact-us"
        class="block link-hover hover:text-emerald-950"
        >Contact Us</a
      >
    </nav>

    <!-- Newsletter -->
    <nav>
      <h6 class="footer-title text-lg mb-4">Subscribe For Newsletter</h6>
      <form>
        <div class="join">
          <input
            type="text"
            placeholder="Enter your email address"
            class="input input-bordered join-item w-full sm:w-auto"
          />
          <button
            class="btn join-item"
            style="background-color: #0b5d5d; color: #fff"
          >
            Subscribe
          </button>
        </div>
      </form>
    </nav>
  </div>
</footer>
