<footer
  class="text-base-content px-6 py-10 mt-auto"
  style="background-color: #f5f5f5"
>
  <div
    class="max-w-screen-xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10"
  >
    <!-- Logo and Socials -->
    <aside>
      <a routerLink="/home" class="aboreto-regular text-2xl font-bold"
        >VELVORIA</a
      >
      <div class="flex gap-3 mt-4">
        <i class="fa-brands fa-instagram text-xl icons"></i>
        <i class="fa-brands fa-facebook text-xl icons"></i>
        <i class="fa-brands fa-pinterest text-xl icons"></i>
        <i class="fa-brands fa-youtube text-xl icons"></i>
      </div>
    </aside>

    <!-- Hot Categories -->
    <nav>
      <h6 class="footer-title text-lg mb-4">Hot Categories</h6>
      <a routerLink="/furniture/category/chairs" class="block custom-links mb-2"
        >Chairs</a
      >
      <a
        routerLink="/furniture/category/lighting"
        class="block custom-links mb-2"
        >Lighting</a
      >
      <a routerLink="/furniture/category/sofas" class="block custom-links mb-2"
        >Sofas</a
      >
      <a routerLink="/furniture/category/decor" class="block custom-links mb-2"
        >Decor</a
      >
    </nav>

    <!-- Links -->
    <nav>
      <h6 class="footer-title text-lg mb-4">Support</h6>
      <a routerLink="/about" class="custom-links mb-4 block">About Us</a>
      <a routerLink="/contact-us" class="custom-links block">Contact Us</a>
    </nav>

    <!-- Newsletter -->
    <nav>
      <h6 class="footer-title text-lg mb-4">Subscribe For Newsletter</h6>

      <form class="max-w-md mx-auto">
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <i class="fa-solid fa-envelope w-4 h-4 text-gray-400"></i>
          </div>
          <input
            type="search"
            id="default-search"
            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 bg-gray-50"
            placeholder="example@gmail.com"
            required
          />
          <button
            type="submit"
            class="main-btn absolute end-2.5 bottom-2.5 focus:outline-none font-medium text-sm px-4 py-2"
          >
            Subscribe
          </button>
        </div>
      </form>
    </nav>
  </div>
  <!-- Copyright -->
  <div class="text-center mt-10 text-sm text-gray-600">
    <p>&copy; 2025 Velvoria. All Rights Reserved.</p>
  </div>
</footer>
