<!-- Back to top button -->
<button
  type="button"
  (click)="scrollToTop()"
  [class.hidden]="!showButton"
  class="fixed bottom-6 right-6 z-50 animate-bounce focus:animate-none hover:animate-none rounded-full bg-teal-600 p-3 text-white shadow-lg transition-all duration-300 hover:bg-teal-700 active:bg-teal-800"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-5 w-5"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="2"
  >
    <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
  </svg>
</button>
