<div class="m-0 flex items-center justify-center min-h-screen body">
  <div class="text-center relative w-full px-4 max-w-4xl">
    <div class="relative inline-block w-full">
      <h1 class="oops text-[6rem] sm:text-[8rem] md:text-[10rem] lg:text-[15rem] tracking-widest leading-none">OOPS!</h1>
      <div class="absolute bottom-[20%] left-1/2 transform -translate-x-1/2 translate-y-1/2 bg-white text-black px-4 py-3 text-lg sm:text-xl md:text-2xl w-[90%] sm:w-[80%] md:w-[88%] text-red-900">
        404 - THE PAGE CAN'T BE FOUND
      </div>
    </div>
    <a href="/home" class="sec-btn  block  font-bold px-6 py-4 mt-10 mx-auto w-[60%] sm:w-[40%] md:w-[30%] text-center">
      GO TO HOMEPAGE
    </a>
  </div>
</div>