/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

* {
  box-sizing: border-box;
}

.prim-btn-outline {
  @apply mt-2 px-6 py-3 text-sm md:text-base border-2 font-semibold rounded hover:bg-teal-700 hover:border-teal-700 transition duration-400 ease-in-out cursor-pointer;
}

.header-txt {
  @apply text-3xl md:text-5xl font-bold mb-4;
}

.sec-txt {
  @apply md:text-xl mb-4;
}

/*# hero section start */

@theme {
  --animate-toright: toright 1500ms ease-in-out;
  @keyframes toright {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  --animate-toleft: toleft 1500ms ease-in-out;
  @keyframes toleft {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  --animate-tozoomout: tozoomout 2s ease-in-out;
  @keyframes tozoomout {
    0% {
      transform: scale(1.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

/*# hero section end */

@plugin "daisyui";

/* src/styles.css or src/styles.scss */

/* logo font style */
.aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 600;
  font-style: normal;
  color: #0b5d5d;
}

:root {
  --primary-color: #0b5d5d;
  --secondary-color: #dc9c13;
  --primary-txt-color: #313033;
  /* text colors */
  --primary-btn-color: hsl(180, 79%, 20%);
  --secondary-btn-color: #dc9c13;
  --primary-btn-hover: #074444;
  --secondary-btn-hover: #a7760c;
  /* background */
  --background-color-primary: #ffffff;
  --background-color-secondary: #f5f5f5;
}

.body {
  background-color: var(--background-color-primary);
}

/*^^^^^^^ Buttons Style ^^^^^^^*/
/* primary btn */
.main-btn {
  background-color: var(--primary-btn-color);
  color: #ffff;
  transition: background-color 300ms, color 300ms;
}

.main-btn:hover {
  background-color: var(--primary-btn-hover);
}
/* Secondary btn */
.sec-btn {
  background-color: var(--secondary-btn-color);
  color: #ffff;
}
.sec-btn:hover {
  border: 2px solid var(--primary-txt-color);
  background-color: transparent;
  color: var(--primary-txt-color);
}

.black-btn {
  background-color: var(--primary-txt-color);
  color: #ffff;
}
.black-btn:hover {
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}

/*^^^^^^^ custom links Styel ^^^^^^^*/
.custom-links {
  text-decoration: none;
  color: var(--primary-txt-color);
}
.custom-links:hover {
  color: #007870;
  cursor: pointer;
}

/*^^^^^^^ Icons Style ^^^^^^^*/
.icons {
  color: var(--primary-txt-color);
}
.icons:hover {
  color: #007870;
}

/*^^^^^^^ Text Style ^^^^^^^*/

/* primary text color */
.primary-text-color {
  color: var(--primary-txt-color);
}


.light-text-color {
  color: var(--background-color-primary);
}

.text-gold-color {
  color: var(--secondary-color);
}

/* yellow */
.tex-scondery-color {
  background-color: var(--secondary-color);
}

/*^^^^^^^ Background Style ^^^^^^^*/
/* primary bg color */
.primary-color-bg {
  background-color: var(--primary-color);
}
