<nav class="mx-auto flex justify-center mb-5 mt-2">
  <ul class="flex">
    <!-- Previous -->
    <li>
      <a
        class="mx-1 flex h-9 w-9 items-center justify-center rounded-full border cursor-pointer"
        (click)="changePage(currentPage - 1)"
        [class.opacity-50]="currentPage === 1"
      >
        <span class="material-icons text-sm">arrow_left</span>
      </a>
    </li>

    <!-- Pages -->
    <li *ngFor="let page of [].constructor(totalPages); let i = index">
      <a
        class="mx-1 flex h-9 w-9 items-center justify-center rounded-full cursor-pointer"
        [ngClass]="{
          'bg-gradient-to-tr from-teal-600 to-teal-400 text-white shadow-md': currentPage === i + 1,
          'border border-blue-gray-100 text-blue-gray-500': currentPage !== i + 1
        }"
        (click)="changePage(i + 1)"
      >
        {{ i + 1 }}
      </a>
    </li>

    <!-- Next -->
    <li>
      <a
        class="mx-1 flex h-9 w-9 items-center justify-center rounded-full border cursor-pointer"
        (click)="changePage(currentPage + 1)"
        [class.opacity-50]="currentPage === totalPages"
      >
        <span class="material-icons text-sm">arrow_right</span>
      </a>
    </li>
  </ul>
</nav>
